In [2]:
import pandas as pd

Reading file

In [3]:
df = pd.read_excel('/content/drive/MyDrive/SC Project/Complete dataset.xlsx')

In [4]:
df.to_csv ("/content/drive/MyDrive/SC Project/Complete dataset.xlsx", 
                  index = None,
                  header=True)

In [14]:
df = pd.DataFrame(pd.read_csv("/content/drive/MyDrive/SC Project/Complete dataset.xlsx"))

In [15]:
df

,Prowess_company_code,Company,year,Horizontal1,ProductGroup,NumCustomers,Spatial,NumPlants,Industry_type,Sales,...,ebit,roa,roce,tq,PromoterOwn,DebtToEquity,BV_per_Share,MktValueEquity,Incorporation_Year,FirmAge
0,365,A B G Shipyard Ltd.,2010,1,2,1,1,2,Transport equipment,20770.9,...,2791.8,2.89,4.91,1.75,60.35,1.93,240.33,21369.33,1985,25
1,365,A B G Shipyard Ltd.,2011,1,3,2,1,2,Transport equipment,23842.9,...,2653.7,2.22,4.28,1.50,61.83,2.45,261.02,19958.80,1985,26
2,365,A B G Shipyard Ltd.,2012,3,3,4,1,2,Transport equipment,20940.2,...,1686.6,0.86,1.62,1.21,62.03,2.61,297.27,18342.03,1985,27
3,365,A B G Shipyard Ltd.,2013,4,2,4,2,2,Transport equipment,16188.1,...,-2980.4,-0.69,-1.30,1.02,69.12,4.05,270.48,13998.40,1985,28
4,365,A B G Shipyard Ltd.,2014,3,3,4,2,2,Transport equipment,3901.2,...,-11947.3,-7.01,-11.94,1.41,61.62,14.42,164.00,12341.86,1985,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4056,426496,Veto Switchgears & Cables Ltd.,2012,4,6,2,1,2,Machinery,741.4,...,76.2,9.43,10.98,NaN,NaN,0.08,NaN,NaN,2007,5
4057,426496,Veto Switchgears & Cables Ltd.,2013,4,6,2,1,2,Machinery,944.3,...,84.4,6.42,7.19,NaN,NaN,0.55,NaN,NaN,2007,6
4058,426496,Veto Switchgears & Cables Ltd.,2014,4,7,2,1,2,Machinery,972.0,...,95.6,6.26,6.99,NaN,NaN,0.48,NaN,NaN,2007,7
4059,426496,Veto Switchgears & Cables Ltd.,2015,4,7,2,1,2,Machinery,1120.4,...,99.4,9.16,10.51,2.44,71.75,0.56,41.11,1840.04,2007,8
4060,426496,Veto Switchgears & Cables Ltd.,2016,5,7,2,1,2,Machinery,1203.4,...,152.6,9.00,10.27,3.02,58.19,0.34,44.47,2463.16,2007,9

Company names

In [7]:
print(df['Company'].unique())

['A B G Shipyard Ltd.' 'A I A Engineering Ltd.' 'A P M Industries Ltd.'
 'A V T Natural Products Ltd.' 'Trident Ltd.' 'Nitin Castings Ltd.'
 'Ador Fontech Ltd.' 'Ador Multiproducts Ltd.' 'Ador Welding Ltd.'
 'Agro Tech Foods Ltd.' 'Metalyst Forgings Ltd.' 'Aimco Pesticides Ltd.'
 'Akar Auto Inds. Ltd.' 'Aksh Optifibre Ltd.' 'Alembic Ltd.'
 'Alfa Transformers Ltd.' 'Alkem Laboratories Ltd.'
 'Alkyl Amines Chemicals Ltd.' 'Alok Industries Ltd.' 'Alufluoride Ltd.'
 'Amara Raja Batteries Ltd.' 'Amco India Ltd.' 'Amrit Corp. Ltd.'
 'Amtek Auto Ltd.' 'Castex Technologies Ltd.'
 'Johnson Controls-Hitachi Air Conditioning India Ltd.'
 'Andhra Petrochemicals Ltd.' 'International Paper A P P M Ltd.'
 'Andhra Sugars Ltd.' 'Anil Ltd.' 'Anuh Pharma Ltd.'
 'Apar Industries Ltd.' 'Aplab Ltd.' 'Apollo Tyres Ltd.'
 'Resonance Specialties Ltd.' 'Arvind Ltd.' 'Asahi India Glass Ltd.'
 'Asahi Songwon Colors Ltd.' 'A B B India Ltd.' 'Ashok Leyland Ltd.'
 'Asian Electronics Ltd.' 'Asian Paints Ltd.' 'Asian Star Co. Ltd.'
 'A C C Ltd.' 'Astral Poly Technik Ltd.' 'Atul Auto Ltd.' 'Atul Ltd.'
 'Aksharchem (India) Ltd.' 'Aunde Faze Three Autofab Ltd.'
 'Aurobindo Pharma Ltd.' 'Austin Engineering Co. Ltd.'
 'Autoline Industries Ltd.' 'Automobile Corpn. Of Goa Ltd.'
 'Automotive Axles Ltd.' 'Sanofi India Ltd.' 'Avon Lifesciences Ltd.'
 'B A S F India Ltd.' 'Bilcare Ltd.' 'Linde India Ltd.'
 'Bajaj Electricals Ltd.' 'Bajaj Hindusthan Sugar Ltd.'
 'Force Motors Ltd.' 'Balaji Amines Ltd.' 'Balkrishna Industries Ltd.'
 'Ballarpur Industries Ltd.' 'Balrampur Chini Mills Ltd.'
 'Banco Products (India) Ltd.' 'Banswara Syntex Ltd.'
 'Barak Valley Cements Ltd.' 'Ineos Styrolution India Ltd.'
 'Bedmutha Industries Ltd.' 'Berger Paints India Ltd.'
 'Bhagyanagar India Ltd.' 'Bhandari Hosiery Exports Ltd.' 'B E M L Ltd.'
 'Bharat Electronics Ltd.' 'Bharat Forge Ltd.' 'Bharat Gears Ltd.'
 'Bharat Heavy Electricals Ltd.' 'Bharat Petroleum Corpn. Ltd.'
 'Bharat Rasayan Ltd.' 'Bharat Seats Ltd.'
 'Bharati Defence & Infrastructure Ltd.' 'B C L Industries Ltd.'
 'A P L Apollo Tubes Ltd.' 'Bimetal Bearings Ltd.' 'Biocon Ltd.'
 'Birla Corporation Ltd.' 'Birla Cable Ltd.'
 'Birla Precision Technologies Ltd.' 'Blue Blends (India) Ltd.'
 'Blue Star Ltd.' 'Bombay Dyeing & Mfg. Co. Ltd.'
 'Brady & Morris Engg. Co. Ltd.' 'Centum Electronics Ltd.'
 'Cadila Healthcare Ltd.' 'Camlin Fine Sciences Ltd.' 'Kokuyo Camlin Ltd.'
 'Caprihans India Ltd.' 'Carborundum Universal Ltd.' 'Castrol India Ltd.'
 'Ceat Ltd.' 'Century Enka Ltd.' 'Century Extrusions Ltd.'
 'Century Textiles & Inds. Ltd.' 'Chennai Petroleum Corpn. Ltd.'
 'Cipla Ltd.' 'Cochin Shipyard Ltd.' 'Colgate-Palmolive (India) Ltd.'
 'Clariant Chemicals (India) Ltd.'
 'Commercial Engineers & Body Builders Co. Ltd.'
 'Coromandel International Ltd.' 'Cosboard Industries Ltd.'
 'C G Power & Indl. Solutions Ltd.' 'Cummins India Ltd.'
 'Dabur India Ltd.' 'Dai-Ichi Karkaria Ltd.'
 'Deepak Fertilisers & Petrochemicals Corpn. Ltd.' 'Deepak Nitrite Ltd.'
 'Confidence Petroleum India Ltd.' 'Dhampur Sugar Mills Ltd.'
 'Lumax Auto Technologies Ltd.' 'Dharamsi Morarji Chemical Co. Ltd.'
 'Diamines & Chemicals Ltd.' 'Diamond Power Infrastructure Ltd.'
 "Divi'S Laboratories Ltd." 'Donear Industries Ltd.'
 "Dr. Reddy'S Laboratories Ltd." 'Duncans Industries Ltd.'
 'Dynamatic Technologies Ltd.' 'E I D-Parry (India) Ltd.'
 'Procter & Gamble Health Ltd.' 'Eastern Silk Inds. Ltd.'
 'Eastern Treads Ltd.' 'Ecoplast Ltd.' 'Eicher Motors Ltd.'
 'Elecon Engineering Co. Ltd.' 'Electrosteel Castings Ltd.'
 'Elgi Equipments Ltd.' 'Emami Ltd.' 'Emco Ltd.' 'Empire Industries Ltd.'
 'Escorts Ltd.' 'Essel Propack Ltd.' 'Everest Industries Ltd.'
 'Everest Kanto Cylinder Ltd.' 'Excel Industries Ltd.'
 'Schaeffler India Ltd.' 'Fairdeal Filaments Ltd. [Merged]'
 'Faze Three Ltd.' 'Fiem Industries Ltd.' 'Finolex Cables Ltd.'
 'Finolex Industries Ltd.' 'Uflex Ltd.' 'Forbes & Co. Ltd.'
 'Foseco India Ltd.' 'G M M Pfaudler Ltd.' 'G N A Axles Ltd.'
 'G S Auto International Ltd.' 'G T N Industries Ltd.'
 'Gabriel India Ltd.' 'Gandhi Special Tubes Ltd.' 'Garden Silk Mills Ltd.'
 'Genus Power Infrastructures Ltd.' 'Miven Machine Tools Ltd.'
 'Gillette India Ltd.' 'Glenmark Pharmaceuticals Ltd.'
 'Godfrey Phillips India Ltd.' 'Godrej Consumer Products Ltd.'
 'Godrej Industries Ltd.' 'Federal-Mogul Goetze (India) Ltd.'
 'Gontermann-Peipers (India) Ltd.' 'Goodyear India Ltd.'
 'Grasim Industries Ltd.' 'Grauer & Weil (India) Ltd.'
 'Greaves Cotton Ltd.' 'Morganite Crucible (India) Ltd.'
 'Grindwell Norton Ltd.' 'Ambuja Cements Ltd.'
 'Gujarat Ambuja Exports Ltd.' 'Gujarat Borosil Ltd.'
 'Munjal Auto Inds. Ltd.' 'G F L Ltd.' 'G H C L Ltd.'
 'Gujarat Intrux Ltd.'
 'Gujarat Narmada Valley Fertilizers & Chemicals Ltd.'
 'Setco Automotive Ltd.' 'Gujarat Sidhee Cement Ltd.'
 'H B L Power Systems Ltd.' 'H E G Ltd.' 'H M T Ltd.'
 'Harita Seating Systems Ltd.' 'Havells India Ltd.' 'Hero Motocorp Ltd.'
 'Hitech Corporation Ltd.' 'High Energy Batteries (India) Ltd.'
 'Himachal Fibres Ltd.' 'Himadri Speciality Chemical Ltd.'
 'Himalaya Food Intl. Ltd.' 'Hind Syntex Ltd.' 'Hindustan Foods Ltd.'
 'Hindustan Hardy Ltd.' 'Hindustan Housing Co. Ltd.'
 'Hindustan Unilever Ltd.' 'Hindustan Organic Chemicals Ltd.'
 'Hindustan Photo Films Mfg. Co. Ltd.' 'Hindustan Tin Works Ltd.'
 'Hindustan Zinc Ltd.' 'Honda Siel Power Products Ltd.' 'H I L Ltd.'
 'Kingfa Science & Technology (India) Ltd.' 'Akzo Nobel India Ltd.'
 'I F B Industries Ltd.' 'I T C Ltd.' 'Impex Ferro Tech Ltd.'
 'India Cements Ltd.' 'India Gelatine & Chemicals Ltd.'
 'Indian Acrylics Ltd.' 'Indian Card Clothing Co. Ltd.' 'Indo Amines Ltd.'
 'Indo Count Inds. Ltd.' 'Indoco Remedies Ltd.'
 'Ingersoll-Rand (India) Ltd.' 'Innovative Tech Pack Ltd.'
 'Ion Exchange (India) Ltd.' 'Ipca Laboratories Ltd.'
 'J B Chemicals & Pharmaceuticals Ltd.' 'J B F Industries Ltd.'
 'J B M Auto Ltd.' 'J C T Electronics Ltd.' 'J C T Ltd.'
 'J K Lakshmi Cement Ltd.' 'J K Tyre & Inds. Ltd.' 'J K Paper Ltd.'
 'J L Morison (India) Ltd.' 'J S L Industries Ltd.'
 'Jagatjit Industries Ltd.' 'Jai Balaji Inds. Ltd.'
 'Jain Irrigation Systems Ltd.' 'Jasch Industries Ltd.'
 'Jay Bharat Maruti Ltd.' 'Jay Ushin Ltd.' 'Jayant Agro-Organics Ltd.'
 'Jayaswal Neco Inds. Ltd.' 'Jaiprakash Associates Ltd.'
 'J V L Agro Inds. Ltd.' 'Jindal Steel & Power Ltd.' 'J S W Steel Ltd.'
 'Jubilant Life Sciences Ltd.' 'Jumbo Bag Ltd.' 'Jyoti Ltd. (Gujarat)'
 'Jyoti Structures Ltd.' 'K R B L Ltd.' 'Kaira Can Co. Ltd.'
 'Kalyani Forge Ltd.' 'Sharp India Ltd.' 'K D D L Ltd.'
 'Kanishk Steel Inds. Ltd.' 'Kanpur Plastipack Ltd.'
 'Keltech Energies Ltd.' 'Nitta Gelatin India Ltd.'
 'Kesar Petroproducts Ltd.' 'Kilpest India Ltd.' 'Kiri Industries Ltd.'
 'Kirloskar Brothers Ltd.' 'Kirloskar Ferrous Inds. Ltd.'
 'Kisan Mouldings Ltd.' 'Abbott India Ltd.' 'Kopran Ltd.'
 'Krypton Industries Ltd.' 'Ultratech Cement Ltd.'
 'L G Balakrishnan & Bros. Ltd.' 'L M L Ltd.' 'L T Foods Ltd.'
 'Lactose (India) Ltd.' 'Lakshmi Electrical Control Systems Ltd.'
 'Lakshmi Machine Works Ltd.' 'Lakshmi Precision Screws Ltd.'
 'Srikalahasthi Pipes Ltd.' 'Linc Pen & Plastics Ltd.'
 'Lincoln Pharmaceuticals Ltd.' 'Leel Electricals Ltd.'
 'Uttam Value Steels Ltd.' 'Lotus Chocolate Co. Ltd.'
 'Lovable Lingerie Ltd.' 'Loyal Textile Mills Ltd.'
 'Lumax Industries Ltd.' 'Lupin Ltd.' 'Lyka Labs Ltd.' 'M R F Ltd.'
 'Machino Plastics Ltd.' 'M P S Ltd.' 'Ramco Cements Ltd.'
 'Mafatlal Industries Ltd.' 'Magna Electro Castings Ltd.'
 'Mahalaxmi Seamless Ltd.' 'Maharashtra Seamless Ltd.'
 'Vardhman Textiles Ltd.' 'Mahindra & Mahindra Ltd.'
 'Mahindra C I E Automotive Ltd.' 'Maithan Alloys Ltd.'
 'Majestic Auto Ltd.' 'Makers Laboratories Ltd.' 'Malu Paper Mills Ltd.'
 'Manali Petrochemicals Ltd.' 'G B Global Ltd.' 'Mangalam Cement Ltd.'
 'Mangalore Refinery & Petrochemicals Ltd.' 'Marico Ltd.'
 'Marmagoa Steel Ltd.' 'Maruti Suzuki India Ltd.' 'Mayur Uniquoters Ltd.'
 'Mazda Ltd.' 'United Spirits Ltd.' 'Mcnally Bharat Engg. Co. Ltd.'
 'Mid India Inds. Ltd.' 'Skyline Millars Ltd.' 'Minda Corporation Ltd.'
 'Minda Industries Ltd.' 'Mirza International Ltd.' 'Modern Dairies Ltd.'
 'Modison Metals Ltd.' 'Nuway Organic Naturals India Ltd.'
 'Monsanto India Ltd. [Merged]' 'Morarjee Textiles Ltd.'
 'Moser Baer India Ltd.' 'Motherson Sumi Systems Ltd.' 'Bosch Ltd.'
 'M R O-Tek Realty Ltd.' 'Bombay Rayon Fashions Ltd.' 'Mukand Ltd.'
 'Munjal Showa Ltd.' 'Heidelberg Cement India Ltd.'
 'Nahar Industrial Enterprises Ltd.' 'Nahar Spinning Mills Ltd.'
 'Nandan Denim Ltd.' 'Natco Pharma Ltd.' 'National Aluminium Co. Ltd.'
 'Nocil Ltd.' 'Nelcast Ltd.' 'Nesco Ltd.' 'Nestle India Ltd.'
 'Nilachal Refractories Ltd.' 'Nitco Ltd.' 'Nova Iron & Steel Ltd.'
 'Swelect Energy Systems Ltd.' 'O K Play India Ltd.'
 'Oil Country Tubular Ltd.' 'Olympic Cards Ltd.' 'Omax Autos Ltd.'
 'Opto Circuits (India) Ltd.' 'Orchid Pharma Ltd.' 'Orient Abrasives Ltd.'
 'Orient Bell Ltd.' 'Orient Paper & Inds. Ltd.' 'P I Industries Ltd.'
 'Page Industries Ltd.' 'Panacea Biotec Ltd.' 'Panchsheel Organics Ltd.'
 'Pankaj Polymers Ltd.' 'Panyam Cements & Mineral Inds. Ltd.'
 'Paramount Communications Ltd.' 'Patspin India Ltd.'
 'Sambhaav Media Ltd.' 'Wanbury Ltd.' 'Pearl Polymers Ltd.'
 'Pennar Industries Ltd.' 'Pfizer Ltd.' 'Phaarmasia Ltd.'
 'Pidilite Industries Ltd.' 'Reliance Naval & Engg. Ltd.'
 'Navin Fluorine Intl. Ltd.' 'Polyplex Corporation Ltd.'
 'Ponni Sugars (Erode) Ltd.' 'Voith Paper Fabrics India Ltd.'
 'Praj Industries Ltd.' 'Pranavaditya Spinning Mills Ltd.'
 'Premier Synthetics Ltd.' 'Prism Johnson Ltd.'
 'Procter & Gamble Hygiene & Health Care Ltd.'
 'Punjab Chemicals & Crop Protection Ltd.' 'Punjab Communications Ltd.'
 'R D B Rasayans Ltd.' 'R T S Power Corpn. Ltd.' 'Rajapalayam Mills Ltd.'
 'R S W M Ltd.' 'Rajoo Engineers Ltd.' 'Ram Ratna Wires Ltd.'
 'Ramco Industries Ltd.' 'Ramkrishna Forgings Ltd.'
 'Rashtriya Chemicals & Fertilizers Ltd.' 'Ratnamani Metals & Tubes Ltd.'
 'Ravalgaon Sugar Farm Ltd.' 'Raymond Ltd.' 'Real Strips Ltd.'
 'Reliance Industries Ltd.' 'Remsons Industries Ltd.'
 'Rico Auto Inds. Ltd.' 'Ruchi Soya Inds. Ltd.' 'Rushil Decor Ltd.'
 'S H Kelkar & Co. Ltd.' 'S K F India Ltd.' 'S Kumars Nationwide Ltd.'
 'S M S Pharmaceuticals Ltd.' 'S R F Ltd.'
 'Saint-Gobain Sekurit India Ltd.' 'Salzer Electronics Ltd.'
 'Samtel Color Ltd.' 'Sangam (India) Ltd.' 'Sanghvi Forging & Engg. Ltd.'
 'Sarup Industries Ltd.' 'Kohinoor Foods Ltd.' 'Saurashtra Cement Ltd.'
 'Jindal Saw Ltd.' 'Elantas Beck India Ltd.' 'U P L Ltd.'
 'Sejal Glass Ltd.' 'Choksi Imaging Ltd.' 'Vedanta Ltd.'
 'Seshasayee Paper & Boards Ltd.' 'Shah Alloys Ltd.' 'Shanthi Gears Ltd.'
 'Shilp Gravures Ltd.' 'Shree Digvijay Cement Co. Ltd.'
 'Shree Renuka Sugars Ltd.' 'Shrenuj & Co. Ltd.'
 'Shri Bajrang Alloys Ltd.' 'Siemens Ltd.' 'Singer India Ltd.'
 'Sintex Industries Ltd.' 'Siyaram Silk Mills Ltd.'
 'Solar Industries India Ltd.' 'Southern Petrochemical Inds. Corpn. Ltd.'
 'Spenta International Ltd.' 'Stanpacks (India) Ltd.'
 'Steel Authority Of India Ltd.' 'Sterling Tools Ltd.'
 'Sterlite Technologies Ltd.' 'Stone India Ltd.' 'Stovec Industries Ltd.'
 'Strides Pharma Science Ltd.' 'Sturdy Industries Ltd.' 'Subros Ltd.'
 'Sudarshan Chemical Inds. Ltd.' 'Suditi Industries Ltd.'
 'Sun Pharmaceutical Inds. Ltd.' 'Sundaram Brake Linings Ltd.'
 'Sundaram-Clayton Ltd.' 'Sundram Fasteners Ltd.'
 'Zenotech Laboratories Ltd.' 'Super Crop Safe Ltd.'
 'Super Sales India Ltd.' 'Super Tannery Ltd.' 'Suprajit Engineering Ltd.'
 'Supreme Industries Ltd.' 'Supreme Petrochem Ltd.'
 'Surat Textile Mills Ltd.' 'Suryalakshmi Cotton Mills Ltd.'
 'Suryavanshi Spinning Mills Ltd.' 'Suven Life Sciences Ltd.'
 'Suzlon Energy Ltd.' 'Swaraj Engines Ltd.' 'Multibase India Ltd.'
 'T D Power Systems Ltd.' 'T I L Ltd.' 'T T K Prestige Ltd.'
 'T V S Motor Co. Ltd.' 'T V S Srichakra Ltd.' 'T P L Plastech Ltd.'
 'Talbros Automotive Components Ltd.' 'Tamilnadu Petroproducts Ltd.'
 'Tata Chemicals Ltd.' 'Tata Coffee Ltd.' 'Tata Motors Ltd.'
 'Tata Steel Ltd.' 'Tata Steel Long Products Ltd.'
 'Tata Global Beverages Ltd.' 'Tayo Rolls Ltd.' 'Thermax Ltd.'
 'Thirumalai Chemicals Ltd.' 'Tilaknagar Industries Ltd.'
 'Time Technoplast Ltd.' 'Timex Group India Ltd.' 'Timken India Ltd.'
 'Tinplate Co. Of India Ltd.' 'Titagarh Wagons Ltd.' 'Titan Company Ltd.'
 'Torrent Pharmaceuticals Ltd.' 'Transformers & Rectifiers (India) Ltd.'
 'Transpek Industry Ltd.' 'Triveni Engineering & Inds. Ltd.'
 'Ucal Fuel Systems Ltd.' 'Ugar Sugar Works Ltd.'
 'Ultramarine & Pigments Ltd.' 'Unichem Laboratories Ltd.'
 'Uniply Industries Ltd.' 'Uniroyal Industries Ltd.'
 'Universal Cables Ltd.' 'Upper Ganges Sugar & Inds. Ltd. [Merged]'
 'Usha Martin Ltd.' 'Uttam Galva Steels Ltd.' 'Uttam Sugar Mills Ltd.'
 'V S T Industries Ltd.' 'Vadilal Industries Ltd.'
 'Yashraj Containeurs Ltd.' "Venky'S (India) Ltd." 'Vesuvius India Ltd.'
 'Videocon Industries Ltd.' 'Vikas Ecotech Ltd.' 'Vikas W S P Ltd.'
 'Vinati Organics Ltd.' 'Vishal Fabrics Ltd.' 'Sequent Scientific Ltd.'
 'Vivimed Labs Ltd.' 'Voltas Ltd.' 'Welcast Steels Ltd.'
 'Welspun India Ltd.' 'A Y M Syntex Ltd.' 'Welspun Corp Ltd.'
 'Wendt (India) Ltd.' 'West Coast Paper Mills Ltd.' 'Wheels India Ltd.'
 'Whirlpool Of India Ltd.' 'Wim Plast Ltd.' 'Winsome Textile Inds. Ltd.'
 'Wintac Ltd.' 'Wockhardt Ltd.' 'X L Energy Ltd.' 'Yash Papers Ltd.'
 'Yuken India Ltd.' 'Z F Steering Gear (India) Ltd.'
 'Zen Technologies Ltd.' 'Zenith Birla (India) Ltd.'
 'Zodiac Clothing Co. Ltd.' 'M S P Steel & Power Ltd.' 'Ujaas Energy Ltd.'
 'S E L Manufacturing Co. Ltd.' 'United Breweries Ltd.'
 'Rohit Ferro-Tech Ltd.' 'Tara Jewels Ltd.' 'J K Cement Ltd.'
 'Jindal Stainless Ltd.' 'Excel Crop Care Ltd. [Merged]'
 'S A L Steel Ltd.' 'Innoventive Industries Ltd.' 'Facor Steels Ltd.'
 'Tulsi Extrusions Ltd.' 'Ankit Metal & Power Ltd.'
 'Sutlej Textiles & Inds. Ltd.' 'Pearl Global Inds. Ltd.'
 'Adhunik Metaliks Ltd.' 'Visa Steel Ltd.'
 'Action Construction Equipment Ltd.' 'Gokaldas Exports Ltd.'
 'G T N Textiles Ltd.' 'Hanung Toys & Textiles Ltd.'
 'Shivam Autotech Ltd.' 'Hilton Metal Forging Ltd.' 'Kuantum Papers Ltd.'
 'Endurance Technologies Ltd.' 'Gokak Textiles Ltd.' 'Wabco India Ltd.'
 'Bajaj Auto Ltd.' 'Neueon Towers Ltd.' 'Globus Spirits Ltd.'
 'Rane Brake Lining Ltd.' 'D B Corp Ltd.' 'Surana Solar Ltd.'
 'Fineotex Chemical Ltd.' 'Electrosteel Steels Ltd.'
 'Tamboli Capital Ltd.' 'Tijaria Polypipes Ltd.'
 'C I L Nova Petrochemicals Ltd.' 'Dr. Datsons Labs Ltd.'
 'Shilpi Cable Technologies Ltd.' 'P G Electroplast Ltd.'
 'Brooks Laboratories Ltd.' 'Servalakshmi Paper Ltd.'
 'Vaswani Industries Ltd.' 'Veto Switchgears & Cables Ltd.']

In [8]:
df['Company'].nunique()

580

In [9]:
list(df.columns)

['Prowess_company_code',
 'Company',
 'year',
 'Horizontal1',
 'ProductGroup',
 'NumCustomers',
 'Spatial',
 'NumPlants',
 'Industry_type',
 'Sales',
 'SalesGrowth',
 'TotalAsset',
 'cogs',
 'ebit',
 'roa',
 'roce',
 'tq',
 'PromoterOwn',
 'DebtToEquity',
 'BV_per_Share',
 'MktValueEquity',
 'Incorporation_Year',
 'FirmAge']

In [16]:
df=df.drop(['Industry_type', 'Prowess_company_code', 'cogs',
 'ebit','Sales','roce',
 'tq',
 'PromoterOwn',
 'DebtToEquity',
 'BV_per_Share','Incorporation_Year',
 'MktValueEquity'], axis=1)

In [17]:
df

,Company,year,Horizontal1,ProductGroup,NumCustomers,Spatial,NumPlants,SalesGrowth,TotalAsset,roa,FirmAge
0,A B G Shipyard Ltd.,2010,1,2,1,1,2,0.149043,76049.5,2.89,25
1,A B G Shipyard Ltd.,2011,1,3,2,1,2,0.147899,89208.7,2.22,26
2,A B G Shipyard Ltd.,2012,3,3,4,1,2,-0.121743,106997.9,0.86,27
3,A B G Shipyard Ltd.,2013,4,2,4,2,2,-0.226937,124561.6,-0.69,28
4,A B G Shipyard Ltd.,2014,3,3,4,2,2,-0.759008,123546.0,-7.01,29
...,...,...,...,...,...,...,...,...,...,...,...
4056,Veto Switchgears & Cables Ltd.,2012,4,6,2,1,2,0.080916,734.0,9.43,5
4057,Veto Switchgears & Cables Ltd.,2013,4,6,2,1,2,0.273671,1122.8,6.42,6
4058,Veto Switchgears & Cables Ltd.,2014,4,7,2,1,2,0.029334,1216.1,6.26,7
4059,Veto Switchgears & Cables Ltd.,2015,4,7,2,1,2,0.152675,1372.4,9.16,8
4060,Veto Switchgears & Cables Ltd.,2016,5,7,2,1,2,0.074081,1356.5,9.00,9

In [18]:
df=df.sort_values(by=['Company','year'],ascending=[True, False])

In [19]:
df

,Company,year,Horizontal1,ProductGroup,NumCustomers,Spatial,NumPlants,SalesGrowth,TotalAsset,roa,FirmAge
272,A B B India Ltd.,2016,6,8,102,4,7,0.059144,84740.6,3.56,67
271,A B B India Ltd.,2015,5,8,100,2,7,0.062988,99896.5,3.14,66
270,A B B India Ltd.,2014,5,8,54,2,7,-0.004863,91814.2,2.39,65
269,A B B India Ltd.,2013,6,8,85,2,7,0.021231,93511.1,2.02,64
268,A B B India Ltd.,2012,6,8,85,2,5,0.032693,85908.8,1.78,63
...,...,...,...,...,...,...,...,...,...,...,...
3736,Zodiac Clothing Co. Ltd.,2014,5,5,4,2,3,-0.067724,2960.6,2.63,30
3735,Zodiac Clothing Co. Ltd.,2013,3,5,4,2,3,0.102515,2884.7,4.89,29
3734,Zodiac Clothing Co. Ltd.,2012,3,5,4,2,3,-0.005818,2690.7,3.66,28
3733,Zodiac Clothing Co. Ltd.,2011,3,5,4,2,3,0.071049,2605.8,3.70,27
3732,Zodiac Clothing Co. Ltd.,2010,2,5,5,1,3,0.057501,2453.1,9.16,26

In [20]:
df.to_csv('/content/drive/MyDrive/SC Project/required_data.csv')